
@media screen and (max-width: 360px){
body{
	font-size:15px;
}	
.ui-list li h4{
	font-size:15px;
}
.order-list-item {
	.order-desc{
		span{
			font-size: 15px;
		}
		div{
			a{
				padding: 0 5px;
				margin-right: 5px;
				&:last-child{
					margin-right: 10px;
				}

			}
		}
	}
}

.news-list .ui-list li.news-type-three .ui-list-info h4 {
    width: 100%;
    height: auto;
    line-height: 20px;
    margin-bottom: 10px;
}
.my-award-list .ui-list-info .out-of-date,.my-award-list .ui-list-info .used{
	width: 25px;
}

.activity .ui-btn {
    float: right;
    padding: 0 10px;
    position: relative;
    top: -5px;
    border:0;
}

.my-award-list .ui-list-info h4{
	font-size:14px;
}

.my-award-list .ui-list-info h2 {
    font-size: 16px;
}

.news-tabs .ui-tab-nav li span {
    font-size: 15px;
}

.ui-list-info p {
    color: #777;
    font-size: 12px;
}
.activity-start-time {
    font-size: 14px;
    color: #888888;
}
}


@media screen and (max-width: 320px){
body{
	font-size:14px;
}	
 .fixed-bottom .comment-input {
    width: 35%;
    position: relative;
}
.ui-list li h4{
	font-size:14px;
}
.order-list-item {
	.order-desc{
		span{
			font-size: 14px;
		}
		div{
			a{
				padding: 0 5px;
				margin-right: 5px;
				&:last-child{
					margin-right: 10px;
				}

			}
		}
	}
}

.news-list .ui-list li.news-type-three .ui-list-info h4 {
    width: 100%;
    height: auto;
    line-height: 20px;
    margin-bottom: 10px;
}

.my-award-list .ui-list-info .out-of-date,.my-award-list .ui-list-info .used{
	width: 25px;
}

.activity-start-time {
    font-size: 12px;
    color: #888888;
}

}

