<!DOCTYPE html>
<html>
<head>
  <title>金温江</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>
<body>
<header class=" ui-border-b">
  <div class="head-return"><a href="javascript:history.go(-1);"><i class="e al"></i></a></div>
  <div class="head-title"><h4>刮刮卡</h4></div>
</header>
<!-- content -->
<div class="scratch-card">
  
  <div class="scratch-box">
    
  </div>
  <div class="ui-row scratch-bottom">
    <div class="ui-col ui-col-50"><a href="" class="rule">活动规则</a></div>
    <div class="ui-col ui-col-50"><a href="" class="myaward">我的奖品</a></div>
  </div>
</div>

</body>
</html>