<!DOCTYPE html>
<html>
<head>
  <title>金温江</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>
<body>
<header class=" ui-border-b">
  <div class="head-return"><a href="javascript:history.go(-1);"><i class="e al"></i></a></div>
  <div class="head-title"><h4>大转盘1</h4></div>
</header>
<div class="lottery">
  <div class="lottery-logo"></div>
  <div id="box" class="lottery-box">
        <div class="outer KinerLottery KinerLotteryContent">
          <img src="img/jiangpin-cj.png">
          <ul class="award-list">
             <li><div>一等奖</div></li>
             <li><div>二等奖</div></li>
             <li><div>三等奖</div></li>
             <li><div>谢谢参与</div></li>
             <li><div>谢谢参与</div></li>
             <li><div>谢谢参与</div></li>
          </ul>

        </div>
        <div class="inner KinerLotteryBtn start"></div>
    </div>
    <div class="lottery-bottom">
      <a href="#" class="lottery-rule">活动规则</a>
      <span>你还有3次抽奖机会</span>
       <a href="#" class="my-award">我的奖品</a>
    </div>
    <div class="lottery-missed">  
      <div>
        <img src="img/weizhongjiang.png">
        <p>很遗憾,与大奖插肩而过~</p>
        <a href="javascript:;" class="ui-btn play-again">再来一次</a>
      </div>
      
      <a href="javascript:;" class="lottery-missed-close">
        <img src="img/close-white.png">
      </a>

    </div>
    <div class="lottery-goal">
       <div>
        <img src="img/zhongjiang.png">
        <h4>恭喜你，中奖啦！</h4>
        <p>获得100优惠卷！</p>
        <a href="javascript:;" class="ui-btn get-award">去领奖</a>
        <a href="javascript:;" class="ui-btn play-again">再来一次</a>
      </div>
      <a href="javascript:;" class="lottery-goal-close">
        <img src="img/close-white.png">
      </a>
    </div>
 </div>   
</body>
</html>