<!DOCTYPE html>
<html>
<head>
  <title>金温江</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>
<body>
<header class="ui-border-b">
<div class="head-return"><a href="javascript:history.go(-1);"><i class="e al"></i></a></div>
<div class="head-title"><h4>奖品信息</h4></div>
</header>
<div class="award-info">
  <div class="award-img">
    <h4>奖品名称</h4>
    <img src="img/activity.png" width="150">
  </div>
  <div class="award-desc">
    <h4><i class="e e-3"></i> 奖品介绍</h4>
    <p>xxx</p>
    <h4><i class="e e-3"></i> 有限期</h4>
    <p>领取后立即生效，有效期1天</p>
    <h4><i class="e e-3"></i> 兑换说明</h4>
    <p>xxx</p>
  </div>
</div>
</body>
</html>