<!DOCTYPE html>
<html>
<head>
  <title>金温江</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>
<body>
<header class=" ui-border-b">
  <div class="head-return"><a href="javascript:history.go(-1);"><i class="e add"></i></a></div>
  <div class="head-title"><h4>密码修改</h4></div>
</header>
 <div class="change-pwd">
   <form action="#">

        <div class="ui-form-item  ui-border-b">
            <label>
               原始密码
            </label>
            <input type="text" placeholder="请输入原始密码">
        </div>
        <div class="ui-form-item  ui-border-b">
            <label>
               新的密码
            </label>
            <input type="text" placeholder="请输入新密码">
        </div>
        <div class="ui-form-item  ui-border-b">
            <label>
               确认密码
            </label>
            <input type="text" placeholder="请再次输入新密码">
        </div>
      
        <div class="ui-btn-wrap">
            <button class="ui-btn-lg ui-btn-primary">
                确定
            </button>
        </div>
    </form>
 </div>
</body>
</html>