<!DOCTYPE html>
<html>
<head>
  <title>金温江</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>
<body>
<header class=" ui-border-b">
  <div class="head-return"><a href="javascript:history.go(-1);"><i class="e al"></i></a></div>
  <div class="head-title"><h4>温江新闻综合频道</h4></div>
</header>
<div class="fm">
  <div class="fm-header">
  <span></span>
  </div>
  <div class="fm-box">
    <span></span>
  </div>
  <div class="fm-footer">
    <a href=""><i class="fa fa-play-circle"></i></a> <!-- 播放 -->
    <!-- <a href=""><i class="fa fa-pause-circle"></i></a>   暂停-->
  </div>
 </div>
</body>
</html>