<!DOCTYPE html>
<html>
<head>
  <title>金温江</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>
<body>
<header class=" ui-border-b">
  <div class="head-return"><a href="javascript:history.go(-1);"><i class="e al"></i></a></div>
  <div class="head-title"><h4>温江新闻综合频道</h4></div>
</header>
 <div class="tv-detail">
  <div class="tv-detail-wrapper" style="position: relative;">
    <div class="title"><h4>正在播放：温江新闻</h4></div>
    <video
        id="my-player"
        class="video-js"
        controls
        preload="auto"
        poster="//vjs.zencdn.net/v/oceans.png"
        data-setup='{}'
        width="640" 
        height="264"
        >
      <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
      <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm"></source>
      <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg"></source>
    </video>
    <p>加快建设全面体现新发展理念宜业宜居的新中心城市</p>
  </div>
 
    <div class="tv-detail-list">
       <div class="title ui-border-b"><h4>视频点播</h4></div>
       <ul class="ui-row">
         <li class="ui-col ui-col-50">
           <div class="tv-detail-item">
             <a href="">
               <div class="tv-detail-item-cover">
                 <span style="background-image: url(http://placehold.it/300x200);"></span>
               </div>
                <div class="tv-detail-item-title"><h4>新闻联播</h4></div> 
             </a>
           </div>
         </li>
          <li class="ui-col ui-col-50">
           <div class="tv-detail-item">
             <a href="">
               <div class="tv-detail-item-cover">
                 <span style="background-image: url(http://placehold.it/300x200);"></span>
               </div>
                <div class="tv-detail-item-title"><h4>新闻联播</h4></div> 
             </a>
           </div>
         </li>
          <li class="ui-col ui-col-50">
           <div class="tv-detail-item">
             <a href="">
               <div class="tv-detail-item-cover">
                 <span style="background-image: url(http://placehold.it/300x200);"></span>
               </div>
                <div class="tv-detail-item-title"><h4>新闻联播</h4></div> 
             </a>
           </div>
         </li>
          <li class="ui-col ui-col-50">
           <div class="tv-detail-item">
             <a href="">
               <div class="tv-detail-item-cover">
                 <span style="background-image: url(http://placehold.it/300x200);"></span>
               </div>
                <div class="tv-detail-item-title"><h4>新闻联播</h4></div> 
             </a>
           </div>
         </li>
          <li class="ui-col ui-col-50">
           <div class="tv-detail-item">
             <a href="">
               <div class="tv-detail-item-cover">
                 <span style="background-image: url(http://placehold.it/300x200);"></span>
               </div>
                <div class="tv-detail-item-title"><h4>新闻联播</h4></div> 
             </a>
           </div>
         </li>
          <li class="ui-col ui-col-50">
           <div class="tv-detail-item">
             <a href="">
               <div class="tv-detail-item-cover">
                 <span style="background-image: url(http://placehold.it/300x200);"></span>
               </div>
                <div class="tv-detail-item-title"><h4>新闻联播</h4></div> 
             </a>
           </div>
         </li>
        
       </ul>
     </div>
 </div>
</body>
</html>