<!DOCTYPE html>
<html>
<head>
  <title>金温江</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>
<body>
<header class=" ui-border-b">
  <div class="head-return"><a href="javascript:history.go(-1);"><i class="e al"></i></a></div>
  <div class="head-title"><h4>意见反馈</h4></div>
</header>
<div class="feedback">
<form>
  <textarea class="textarea" placeholder="请输入您的宝贵意见"></textarea>
  <div class="ui-btn-wrap" style="padding: 10px 0;">
      <button class="ui-btn-lg ui-btn-primary">
          提交
      </button>
  </div>
</form>
 </div>   
</body>
</html>