<!DOCTYPE html>
<html>
<head>
  <title>金温江</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>
<body>
<header class="ui-border-b">
<div class="head-return"><a href="javascript:history.go(-1);"><i class="e al"></i></a></div>
<div class="head-title"><h4>我的评论</h4></div>
</header>
<div class="my-comments">
 <ul>
      <li class="ui-border-b"> 
                   <div class="commentator">
                    <div class="head"><img src="img/activity.png" alt="头像" width="40" height="40"></div>
                    <div class="c-info">
                      <span>我的昵称</span>
                      <p>07-20 10:30</p>
                    </div>
                  
                   </div>
                   <div class="comments">
                    <p>赞</p>
                   </div>
                   <div class="quote">
                    <!-- 引用被评论的新闻 -->
                    <div class="news-list">
                      <ul class="ui-list">
                           <li class="ui-border-t news-type-three">

                              <div class="ui-list-info">
                                  <h4>这是标题，加ui-nowrap可以超出长度截断</h4>
                                  <p><span><i class="e fav"></i>温江新闻</span><span><i class="e comment"></i>593521</span></p>
                              </div>
                              <div class="ui-list-img-horizontal">
                                  <span style="background-image:url(http://placeholder.qiniudn.com/268x188)"></span>
                              </div>
                          </li>
                      </ul>
                      </div>
                   </div>

                </li>
                
                  <li class="ui-border-b"> 
                   <div class="commentator">
                    <div class="head"><img src="img/ai-a.png" alt="" width="40" height="40"></div>
                    <div class="c-info">
                      <span>我的昵称</span>
                      <p>07-20 10:30</p>
                    </div>
                  
                   </div>
                   <div class="comments">
                    <p>赞</p>
                   </div>
                   <div class="quote">
                    <!-- 引用被评论的新闻 -->
                        <div class="news-list">
                      <ul class="ui-list">
                           <li class="ui-border-t news-type-three">

                              <div class="ui-list-info">
                                  <h4>这是标题，加ui-nowrap可以超出长度截断</h4>
                                  <p><span><i class="e fav"></i>温江新闻</span><span><i class="e comment"></i>593521</span></p>
                              </div>
                              <div class="ui-list-img-horizontal">
                                  <span style="background-image:url(http://placeholder.qiniudn.com/268x188)"></span>
                              </div>
                          </li>
                      </ul>
                      </div>
                   </div>

                </li>
            </ul>
</div>
</body>
</html>