<!DOCTYPE html>
<html>
<head>
  <title>金温江</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>
<body>
<header class=" ui-border-b">
  <div class="head-return"><a href="javascript:history.go(-1);"><i class="e al"></i></a></div>
  <div class="head-title"><h4>大转盘1</h4></div>
</header>
<!-- content -->
<div class="vote-detail">
  <div class="title"><h4><span>NO.</span>160号</h4></div>
  <div class="vote-detail-img">
     <span style="background-image:url(http://placeholder.qiniudn.com/68x68)"></span>
  </div>
  <div class="ui-row rank">
    <div class="ui-col ui-col-50">789票</div>
    <div class="ui-col ui-col-50">排名12</div>
  </div>
  <div class="vote-detail-desc">
    <h4>简介</h4>
    <p>是打算发生了纠纷卡视角来看房间里卡时间拉萨JFK了解ask了JFK垃圾上来看就立刻卡斯解放了喀什离开房间刻录机埃里克森JFK拉睡觉了开发了卡就离开家了卡健身房卢卡斯离开就立刻</p>
  </div>

  <div class="ui-row bn">
    <div class="ui-col ui-col-50"><button class="ui-btn-lg" style="background: #f2f2f2;">返回</button></div>
    <div class="ui-col ui-col-50"><button class="ui-btn-lg ui-btn-primary"> 投票</button></div>
  </div>
</div>

</body>
</html>