<!DOCTYPE html>
<html>
<head>
  <title>金温江</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>
<body>
<div class="vedio-play">
  <div class="vedio-play-cover" >
    <img src="img/play.png" width="80">
    <img src="img/pause.png" width="80" style="display: none;">
    <video src="http://118.180.19.72/65723660F9D38828163F322165/03000A01005B8E6C87B1FBA2F8F143A2FF2798-1D42-4170-8D84-95EC0D89E9FE.mp4?ccode=0502&duration=132&expire=18000&psid=74273b08946825bd8d912d3a330f54aa&sp=&ups_client_netip=7d455c1a&ups_ts=1536135062&ups_userid=&utid=W2nME%2BrCy18CAXZxkwmY%2FYKm&vid=XMzgxMDg2Mzg1Mg%3D%3D&vkey=Bffe060d3ddbde4d8ba324f910008c232" id="myvideo" width="100%" height="100%"  style="opacity: 1"></video>
  </div>
  <div class="vedio-play-comment">
   <div class="comment-input">
    <div>
      <i class="e write"></i><input type="text" name="" placeholder="写评论">
    </div>
    <button type="submit" disabled=""></button>
  </div>
   <div class="comment-list">
     <div class="comment-list-title">
       <span>4条评论</span>
       <span><i class="e close"></i></span>
     </div>
     <div class="comment-list-wrap">
       <ul>
         <li>
                    <div class="ui-avatar">
                        <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                    </div>
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap comment-user">ui-avatar</h4>
                        <p class="comment-content">111</p>
                        <p class="comment-info">
                          <span>2018年8月8日</span>
                          <span>33回复</span>
                          <span><i class="e like_empty"></i>2</span>
                          <span><i class="e share"></i>2</span>
                        </p>
                       
                    </div>
                </li><li class="ui-border-b">
                    <div class="ui-avatar">
                        <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                    </div>
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap comment-user">ui-avatar</h4>
                        <p class="comment-content">111</p>
                        <p class="comment-info">
                          <span>2018年8月8日</span>
                          <span>33回复</span>
                          <span><i class="e like_empty"></i>2</span>
                          <span><i class="e share"></i>2</span>
                        </p>
                       
                    </div>
                </li><li class="ui-border-b">
                    <div class="ui-avatar">
                        <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                    </div>
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap comment-user">ui-avatar</h4>
                        <p class="comment-content">111</p>
                        <p class="comment-info">
                          <span>2018年8月8日</span>
                          <span>33回复</span>
                          <span><i class="e like_empty"></i>2</span>
                          <span><i class="e share"></i>2</span>
                        </p>
                       
                    </div>
                </li>
                <li class="ui-border-b">
                    <div class="ui-avatar">
                        <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                    </div>
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap comment-user">ui-avatar</h4>
                        <p class="comment-content">111</p>
                        <p class="comment-info">
                          <span>2018年8月8日</span>
                          <span>33回复</span>
                          <span><i class="e like_empty"></i>2</span>
                          <span><i class="e share"></i>2</span>
                        </p>
                       
                    </div>
                </li>
                <li class="ui-border-b">
                    <div class="ui-avatar">
                        <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                    </div>
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap comment-user">ui-avatar</h4>
                        <p class="comment-content">111</p>
                        <p class="comment-info">
                          <span>2018年8月8日</span>
                          <span>33回复</span>
                          <span><i class="e like_empty"></i>2</span>
                          <span><i class="e share"></i>2</span>
                        </p>
                       
                    </div>
                </li>
                <li class="ui-border-b">
                    <div class="ui-avatar">
                        <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                    </div>
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap comment-user">ui-avatar</h4>
                        <p class="comment-content">111</p>
                        <p class="comment-info">
                          <span>2018年8月8日</span>
                          <span>33回复</span>
                          <span><i class="e like_empty"></i>2</span>
                          <span><i class="e share"></i>2</span>
                        </p>
                       
                    </div>
                </li>
                <li class="ui-border-b">
                    <div class="ui-avatar">
                        <span style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                    </div>
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap comment-user">ui-avatar</h4>
                        <p class="comment-content">111</p>
                        <p class="comment-info">
                          <span>2018年8月8日</span>
                          <span>33回复</span>
                          <span><i class="e like_empty"></i>2</span>
                          <span><i class="e share"></i>2</span>
                        </p>
                       
                    </div>
                </li>
       </ul>
     </div>
   </div>
  </div>
  <div class="vedio-play-interact">
    <ul>
      <li>
        <i class="e zan"></i><p>112</p>
      </li>
      <li><i class="e msg"></i><p>112</p></li>
      <li><i class="e share"></i><p>112</p></li>
    </ul>
  </div>
</div>
</body>
</html>