<!DOCTYPE html>
<html>
<head>
  <title>金温江</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>
<body>
<header class=" ui-border-b">
  <div class="head-return"><a href="javascript:history.go(-1);"><i class="e al"></i></a></div>
  <div class="head-title"><h4>投票详情</h4></div>
</header>
<!-- content -->

  <div class="news-tabs">
    <div class="ui-tab-nav-wrap" style="width: 100%;background: #FFF;">
        <ul class="ui-tab-nav  ui-border-b">
          <li  class="current"><span>活动规则</span></li>
          <li><span>我的奖品</span></li>
        </ul>
    </div>
  </div>
  <div class="activity-rules">
  <ul>
    <li>
       <h2>活动期限</h2>
       <p>2018-08-12 至 2018-08-31</p>
 
    </li>
    <li> <h2>活动期限</h2>
   <p>2018-08-12 至 2018-08-31</p>
  </li>
  <li> <h2>活动期限</h2>
   <p>2018-08-12 至 2018-08-31</p>
  </li>
  <li> <h2>活动期限</h2>
   <p>2018-08-12 至 2018-08-31</p>
  </li>
  <li> <h2>活动期限</h2>
   <p>2018-08-12 至 2018-08-31</p>
  </li>
  </ul>

</div> 
</body>
</html>