<!DOCTYPE html>
<html>
<head>
  <title>金温江</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>
<body>
<header class="ui-border-b">
<div class="head-return"><a href="javascript:history.go(-1);"><i class="e al"></i></a></div>
<div class="head-title"><h4>系统消息</h4></div>
</header>
<div class="msg-list">
 <ul class="ui-list ui-list-link ui-border-tb">
                <li>
                  
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap">系统消息</h4>
                        <p>恭喜你获得了一部Iphonex,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        <p>2018-09-10</p>
                    </div>
                </li>
                  <li>
                  
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap">系统消息</h4>
                        <p class="no-warp">恭喜你获得了一部Iphonex,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        <p>2018-09-10</p>
                    </div>
                </li>
                  <li>
                  
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap">系统消息</h4>
                        <p>恭喜你获得了一部Iphonex,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        <p>2018-09-10</p>
                    </div>
                </li>
                  <li>
                  
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap">系统消息</h4>
                        <p>恭喜你获得了一部Iphonex,xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        <p>2018-09-10</p>
                    </div>
                </li>
                
            </ul>
</div>
</body>
</html>