<!DOCTYPE html>
<html>
<head>
  <title>金温江</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
</head>
<body>
<!-- header -->
<header>
  <div class="user-info">
        <span style="background-image:url(http://placeholder.qiniudn.com/68x68)"></span>
    </div>
  <div class="search-bar">
    <div class="ui-searchbar-wrap">
                <div class="ui-searchbar ui-border-radius">
                    <i class="ui-icon-search"></i>
                    <div class="ui-searchbar-text">搜索号码（2-10位）</div>
                    <div class="ui-searchbar-input"><input value="" type="tel" placeholder="搜索号码（2-10位）" autocapitalize="off"></div>
                    <i class="ui-icon-close"></i>
                </div>
                <button class="ui-searchbar-cancel">取消1</button>
            </div>
  </div>
</header>
<!-- userinfo -->
<nav class="nav-aside">
  <div class="user-head">
     <div class="ui-avatar-lg user-avatar">
      <span style="background-image:url(http://placeholder.qiniudn.com/68x68)"></span>
     </div>
     <div class="user-info">
      <h4 class="user-name">妙妙</h4>
        <span class="user-phone">18980822098</span>
     </div>
       <div class="user-coll">
        <div class="ui-row-flex ui-whitespace">
                    <div class="ui-col ui-col">
                  <!--  <i class="e fav"></i> -->
                     <p>收藏 <span>12</span></p>
                    </div>
                   
                     <div class="ui-col ui-col">
                <!--    <i class="e comment"></i> -->
                     <p>评论 <span>12</span></p>
                    </div>
                   
             </div>
      </div>
  </div>
  <!--  -->

  <ul class="ui-list ui-list-single ui-list-link ui-border-tb">
                <li>
                    <div class="ui-list-thumb-s ui-border-t">
                        <span style="background-image:url(http://placeholder.qiniudn.com/68x68)"></span>
                    </div>
                    <div class="ui-list-info">
                        <h4 class="ui-nowrap">消息通知</h4>
                    </div>
                </li>
                <li>
                    <div class="ui-list-thumb-s">
                        <span style="background-image:url(http://placeholder.qiniudn.com/68x68)"></span>
                    </div>
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap">我的秒抢</h4>
                    </div>
                </li>
                <li>
                    <div class="ui-list-thumb-s">
                        <span style="background-image:url(http://placeholder.qiniudn.com/68x68)"></span>
                    </div>
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap">我的奖品</h4>
                    </div>
                </li>
                <li>
                    <div class="ui-list-thumb-s">
                        <span style="background-image:url(http://placeholder.qiniudn.com/68x68)"></span>
                    </div>
                    <div class="ui-list-info ui-border-t">
                        <h4 class="ui-nowrap">意见反馈</h4>
                    </div>
                </li>
                <li>
                    <div class="ui-list-thumb-s">
                        <span style="background-image:url(http://placeholder.qiniudn.com/68x68)"></span>
                    </div>
                    <div class="ui-list-info ui-border-tb">
                        <h4 class="ui-nowrap">密码修改</h4>
                    </div>
                </li>
            </ul>
         <div class="logout">
           <a href="javascript:;" class="ui-btn-lg">退出登录</a>
        </div>
           
</nav>
<div class="nav-shade"></div>

<!-- content -->
<div class="news-content">
  <div class="news-tabs x-tab">
    <div class="ui-tab-nav-wrap">
        <ul class="ui-tab-nav ui-tab-nav-multi ui-border-b " style="width: 498px">
          <li class="current"><span>热门1</span></li>
          <li><span>热门2</span></li>
          <li><span>热门3</span></li>
          <li><span>热门4</span></li>
          <li><span>热门5</span></li>
          <li><span>热门6</span></li>
          <li><span>热门6</span></li>
        </ul>
    </div>
    <a href="#" class="more-tabs">...</a>
  </div>
  <div class="news-list">
    <ul class="ui-list  ui-border-tb">
                   <li class="ui-border-t news-type-one">
                    
                    <div class="news-type-one-img">
                        <span style="background-image:url(http://placeholder.qiniudn.com/268x188)"></span>
                        <span class="gallery-img-count">10张图</span>
                    </div>
                   
                    <div class="news-type-one-title">
                        <h4>这是标题，加ui-nowrap可以超出长度截断</h4>
                    </div>
                     <div class="news-type-one-comment">
                        <p><span><i class="e fav"></i>温江新闻</span><span><i class="e comment"></i>593521</span></p>
                    </div>
                    
                </li>
               <li class="ui-border-t news-type-one">
                    <div class="news-type-one-title">
                        <h4>这是标题，加ui-nowrap可以超出长度截断</h4>
                    </div>
                    <div class="news-type-one-img">
                        <span style="background-image:url(http://placeholder.qiniudn.com/268x188)"></span>
                    </div>
                     <div class="news-type-one-comment">
                        <p><span><i class="e fav"></i>温江新闻</span><span><i class="e comment"></i>593521</span></p>
                    </div>
                    
                </li>
                   <li class="ui-border-t news-type-one">
                    <div class="news-type-one-title">
                        <h4>这是标题，加ui-nowrap可以超出长度截断</h4>
                    </div>
                    <div class="news-type-one-img">
                        <span style="background-image:url(http://placeholder.qiniudn.com/268x188)"></span>
                    </div>
                     <div class="news-type-one-comment">
                        <p><span class="ad">广告</span></p>
                    </div>
                    
                </li>
              <!--   <li class="ui-border-t news-type-two">
                    <div class="ui-list-img-horizontal">
                        <span style="background-image:url(http://placeholder.qiniudn.com/268x188)"></span>
                    </div>
                    <div class="ui-list-info">
                        <h4>这是标题，加ui-nowrap可以超出长度截断</h4>
                        <p><span><span class="top">置顶</span><i class="e fav"></i>温江新闻</span><span><i class="e comment"></i>593521</span></p>
                    </div>
                </li> -->
                  <li class="ui-border-t news-type-three">

                    <div class="ui-list-info">
                        <h4>这是标题，加ui-nowrap可以超出长度截断</h4>
                        <p><span><i class="e fav"></i>温江新闻</span><span><i class="e comment"></i>593521</span></p>
                    </div>
                    <div class="ui-list-img-horizontal">
                        <span style="background-image:url(http://placeholder.qiniudn.com/268x188)"></span>
                    </div>
                </li>
                <li class="ui-border-t news-type-one">
                    <div class="news-type-one-title">
                        <h4>这是标题，加ui-nowrap可以超出长度截断</h4>
                    </div>
                    <div class="ui-row-flex three-img">
                      <div class="ui-col">
                         <div class="ui-list-img-horizontal">
                        <span style="background-image:url(http://placeholder.qiniudn.com/268x188)"></span>
                    </div>
                      </div>
                      <div class="ui-col">
                         <div class="ui-list-img-horizontal">
                        <span style="background-image:url(http://placeholder.qiniudn.com/268x188)"></span>
                    </div>
                      </div>
                      <div class="ui-col">
                         <div class="ui-list-img-horizontal">
                        <span style="background-image:url(http://placeholder.qiniudn.com/268x188)"></span>
                    </div>
                      </div>
                    </div>
                     <div class="news-type-one-comment">
                        <p><span><i class="e fav"></i>温江新闻</span><span><i class="e comment"></i>593521</span></p>
                    </div>
                    
                </li>
                 <li class="ui-border-t news-type-one">
                    <div class="news-type-one-title">
                        <h4>这是标题，加ui-nowrap可以超出长度截断</h4>
                    </div>
    
                     <div class="news-type-one-comment">
                        <p><span><i class="e fav"></i>温江新闻</span><span><i class="e comment"></i>593521</span></p>
                    </div>
                    
                </li>

               
            </ul>
  </div>
</div>
<div class="tabs-select">
  <div class="tabs-select-title">
    栏目<span>点击进入栏目</span>
  </div>
  <div class="tabs-select-list">
    <a href="#" class="active">热点</a>
    <a href="#">图秀</a>
    <a href="#">要闻</a>
    <a href="#">社会</a>
    <a href="#">直播</a>
    <a href="#">广播电视</a>
    <a href="#">成都医学院</a>
  </div>
</div>
<!-- bottom-nav -->
<div class="bottom-nav ui-border-t">
  <div class="ui-row-flex ui-whitespace ui-border-t">
                <div class="ui-col ui-col active">
               <i class="e fav"></i>
                 <p>闻温江</p>
                </div>
                 <div class="ui-col ui-col">
               <i class="e history"></i>
                 <p>宜</p>
                </div>
                 <div class="ui-col ui-col">
               <i class="e comment"></i>
                 <p>玩</p>
                </div>
                 <div class="ui-col ui-col">
               <i class="e comment"></i>
                 <p>爱</p>
                </div>
               
         </div>
</div>
<!--  <div class="gallery">
     <ul>
       <li class="gallery-item">
           <div class="gallery-item-img">
             <span style="background-image:url(http://placeholder.qiniudn.com/268x188)"></span>
           </div>
            <p class="gallery-item-desc">描述</p>
       </li>
        <li class="gallery-item">
           <div class="gallery-item-img">
             <span style="background-image:url(http://placeholder.qiniudn.com/268x188)"></span>
           </div>
            <p class="gallery-item-desc">描述</p>
       </li>
     </ul>
  </div> -->
</body>
</html>